LITELLM_MASTER_KEY=sk-change-me-local-router-key

OPENAI_API_KEY=
GEMINI_API_KEY=
ANTHROPIC_API_KEY=
GROQ_API_KEY=
OPENROUTER_API_KEY=
GITHUB_COPILOT_API_KEY=

LITELLM_API_KEY=sk-change-me-local-router-key
