LITELLM_MASTER_KEY=sk-change-me-local-router-key
GEMINI_API_KEY=
GITHUB_COPILOT_API_KEY=
REDIS_HOST=host.docker.internal
REDIS_PORT=6379
REDIS_USERNAME=appuser
REDIS_PASSWORD=CHANGE_THIS_TO_A_STRONG_PASSWORD

